%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "聊天室", "/", class: "navbar-brand"

    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "联系人", contacts_path, 'data-turbolinks' => false
        %li
          = link_to "添加联系人", new_contact_path
        %li
          - if current_user
            = link_to "退出", destroy_user_session_path, method: :delete
          - else
            = link_to "登录", user_session_path
